<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.attence.dao.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.attence.pojo.Teacher">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="school" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="department" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="permission" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, school, department, name, permission
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher
    </select>

    <select id="selectByIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where id=#{id,jdbcType=INTEGER} and name=#{name,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM teacher
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.attence.pojo.Teacher">
        INSERT INTO teacher (id, school, department,
                             name,permission
        )
        VALUES (#{id,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR},
                #{department,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
               #{permission,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.attence.pojo.Teacher">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="permission != null">
                permission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.attence.pojo.Teacher">
        update teacher
        <set>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.attence.pojo.Teacher">
        UPDATE teacher
        SET school     = #{school,jdbcType=VARCHAR},
            department = #{department,jdbcType=VARCHAR},
            name       = #{name,jdbcType=VARCHAR},
            permission = #{permission,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updatePasswd">
        UPDATE teacher_login
        SET password=#{password,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="checkTeacherId" resultType="java.lang.Integer">
        SELECT count(1)
        FROM attence.teacher
        WHERE id = #{id}
    </select>

</mapper>